body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    margin: 0;
}

#banner {
    background: linear-gradient(145deg, #34c6c7 15%, #1eaef1 50%, #a7b0fb 75%);
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;
    opacity: 0;

    #button-exit {
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }


    #kernel1 {
        position: absolute;
        left: 15px;
        top: 210px;
    }

    #kernel2 {
        position: absolute;
        left: 250px;
        top: 425px;
    }

    #kernel3 {
        position: absolute;
        left: 50px;
        top: -22px;
    }

    #kernel4 {
        position: absolute;
        left: 2px;
        top: 350px;
    }

    #bg {
        width: $banner-width - 44;
        height: $banner-height - 44;
        background: black;
        position: absolute;
        overflow: hidden;
        left: 22px;
        top: 22px;


        #txt1 {
            position: absolute;
            left: 0;
            top: 62px;

            #txt1a {
                position: absolute;
                left: 0;
                top: 0;
                clip: rect(0px,172px,65px,0px);
            }

            #txt1b {
                position: absolute;
                left: -125px;
                top: 65px;
                clip: rect(0px,226px,28px,140px);
            }
        }

        #txt3 {
            position: absolute;
            left: 0;
            top: 62px;
        }
        #txt4 {
            position: absolute;
            left: 0;
            top: 55px;
        }
        #logo {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        #cta {
            left: 30px;
            top: 140px;
            width: 129px;
            height: 29px;
            border-radius: 3px;
            background-color: #ffae21;
            overflow: hidden;
            position: absolute;

            #cta_txt {
                left: 0;
                top: 0;
                position: absolute;
            }

            #light {
                left: 130px;
                top: 0;
                width: 129px;
                height: 29px;
                background: linear-gradient(135deg, #ffae21 0%, #ffffff 50%, #ffae21 100%);
                position: absolute;
            }
        }
    }

    #device {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate3d(0, 0, 0.1px);
    }

    #screen {
        position: absolute;
        left: 0;
        bottom: 34px;
        opacity:0;
    }




}
